<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <!--begin::Modal header-->
					<div class="modal-header">
						<!--begin::Modal title-->
						<h2>Inactivar Servicio</h2>
						<!--end::Modal title-->
						<!--begin::Close-->
						<div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
							<!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
							<span class="svg-icon svg-icon-1">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
									<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
									<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
								</svg>
							</span>
							<!--end::Svg Icon-->
						</div>
						<!--end::Close-->
					</div>
					<!--end::Modal header-->
					<!--begin::Modal body-->
					<div class="modal-body py-lg-10 px-lg-10">
						<!--begin::Stepper-->
						<div class="stepper stepper-pills stepper-column d-flex flex-column flex-xl-row flex-row-fluid" id="kt_modal_create_app_stepper">
							<!--begin::Aside-->
							<div class="d-flex justify-content-center justify-content-xl-start flex-row-auto w-100 w-xl-300px">
								<!--begin::Nav-->
								<div class="stepper-nav ps-lg-10">
									<!--begin::Step 1-->
									<div class="stepper-item current" data-kt-stepper-element="nav">
										<!--begin::Line-->
										<div class="stepper-line w-40px"></div>
        <form method='post' class="form-inline" action="servicio/servicios_listar.html">
            {% csrf_token %}
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                ¿Desea inactivar a {{obj.Nombre_Servicio}}?
            </div>
            <button class="btn btn-danger"  type="submit" class="btn btn-primary" id="btnInactivar";>
                <i class="far fa-question-circle"></i>
                Si, inactivar</button>
                <button type="button" class="btn btn-success"  onclick="return cerrar_modal()";>
                Cancelar
                </button>
        </form>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
{% block js_page%}

<script>
    $(document).ready(function(){
        $("#btnInactivar").click(function(e){
            e.preventDefault();
            //alert("probando");
        });
    });
    let refresh = document.getElementById('btnInactivar');
    refresh.addEventListener('click', _ => {
                location.reload();
    })
</script>

<script>
    $(document).ready(function(){

        var token = $('input[name=csrfmiddlewaretoken]').val();
        $.ajaxSetup({
            beforeSend: function(xhr, settings){
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))){
                    xhr.setRequestHeader("X-CSRFToken", token);
                }
            }
        });

        $("#btnInactivar").click(function(e){
            e.preventDefault();
            // alert("probando");
            var id={{obj.id}};
            var template="{% url 'servicios_inactivar' obj.id %}";
            var data={"id":id};
            data = JSON.stringify(data);

            $.ajax({
                type:"POST",
                url: template,
                data: data,
                beforeSend: function(xhr, settings){
                    $.ajaxSettings.beforeSend(xhr, settings);
                },
                success: function(response){
                    console.log(response);
                    alert(response);
                    cerrar_modal();
                },
                error:function(jqXHR, textStatus, errorThrow){
                    console.log(textStatus, errorThrow);
                    cerrar_modal();
                }
            });
        });
    });
</script>
{% endblock %}